html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.hand {
  stroke-width: 5px;
  stroke: #000;
  stroke-linecap: round;
}

.frame {
  stroke-width: 5px;
  stroke: #000;
  opacity: 0.05;
  fill: none;
}

.digit {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
}

.digits {
  display: flex;
  flex-direction: row;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
